In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/drive/My Drive/Hamoye Dataset/energydata_complete.csv")

In [4]:
df = df.drop(columns=['date', 'lights'])

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
X = normalised_df[['T2']]
y = normalised_df[['T6']]

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.3, random_state=42)
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)

predicted_values = linear_model.predict(x_test)

In [11]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [12]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.08

In [14]:
import numpy as np
y_test2=np.array(y_test)
predicted_values2= np.array(predicted_values)
rss = np.sum(np.square(y_test-predicted_values2))
round(rss,2)

T6    66.12
dtype: float64

In [15]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.106

In [16]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [18]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
#obtain predictions
predicted_values_ridge = ridge_reg.predict(x_test)

In [19]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values_ridge))
round(rmse, 3)

0.106

In [20]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

predicted_values_lasso = lasso_reg.predict(x_test)

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values_lasso))
round(rmse, 3)

0.106

In [21]:
df = pd.read_csv("/content/drive/My Drive/Hamoye Dataset/energydata_complete.csv")

In [22]:
df = df.drop(columns=['lights', 'date'])

In [23]:
df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [24]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
X = normalised_df.drop(columns=['Appliances'])
y = normalised_df['Appliances']

In [25]:
x_train, x_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.3, random_state=42)
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)

predicted_values = linear_model.predict(x_test)

In [26]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [27]:
type(predicted_values)

numpy.ndarray

In [28]:
type(y_test)

pandas.core.series.Series

In [29]:
y_test=np.array(y_test)

In [31]:
rss = np.sum(np.square(y_test-predicted_values))
round(rss,2)

45.35

In [32]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 2)

0.09

In [33]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [34]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')

In [35]:
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [36]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
#obtain predictions
predicted_values_ridge = ridge_reg.predict(x_test)

In [37]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values_ridge))
round(rmse, 3)

0.088

In [38]:
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')

In [39]:
ridge_weights_df

       Features  Ridge_Weight
0          RH_2     -0.411071
1         T_out     -0.262172
2            T2     -0.201397
3            T9     -0.188916
4          RH_8     -0.156830
5        RH_out     -0.054724
6          RH_7     -0.045977
7          RH_9     -0.041367
8            T5     -0.019853
9            T1     -0.018406
10          rv2      0.000748
11          rv1      0.000748
12  Press_mm_hg      0.006584
13           T7      0.010098
14   Visibility      0.012076
15         RH_5      0.016152
16         RH_4      0.024579
17           T4      0.027384
18    Windspeed      0.030268
19         RH_6      0.035519
20    Tdewpoint      0.083128
21         RH_3      0.095135
22           T8      0.101028
23           T6      0.217292
24           T3      0.288087
25         RH_1      0.519525

In [40]:
from sklearn.linear_model import Ridge
ridge_reg2 = Ridge(alpha=0.001)
ridge_reg2.fit(x_train, y_train)
#obtain predictions
predicted_values_ridge = ridge_reg2.predict(x_test)

In [42]:
ridge_weights_df = get_weights_df(ridge_reg2, x_train, 'Ridge_Weight')

In [43]:
ridge_weights_df

       Features  Ridge_Weight
0          RH_2     -0.456570
1         T_out     -0.321674
2            T2     -0.236080
3            T9     -0.189939
4          RH_8     -0.157594
5        RH_out     -0.077597
6          RH_7     -0.044617
7          RH_9     -0.039805
8            T5     -0.015669
9            T1     -0.003325
10          rv1      0.000770
11          rv2      0.000770
12  Press_mm_hg      0.006839
13           T7      0.010318
14   Visibility      0.012306
15         RH_5      0.016006
16         RH_4      0.026381
17           T4      0.028977
18    Windspeed      0.029187
19         RH_6      0.038041
20         RH_3      0.096045
21           T8      0.101993
22    Tdewpoint      0.117648
23           T6      0.236369
24           T3      0.290621
25         RH_1      0.553453

In [45]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(x_train, y_train)

predicted_values_lasso = lasso_reg.predict(x_test)

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values_lasso))
round(rmse, 3)

0.094

In [46]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [47]:
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880